# Build artifacts
**/bin/
**/obj/

# Ignore LMU Telemetry Database
PitWall.LMU/lmu_telemetry.db
PitWall.LMU/lmu_telemetry.db-shm
PitWall.LMU/lmu_telemetry.db-wal

# BFG jar
PitWall.LMU/bfg-1.14.0.jar
bfg.jar
