# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
# Except for native libraries needed for runtime
!PitWall.LMU/native/duckdb/*.dll
!PitWall.LMU/native/duckdb/*.so
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
# Except for demo scripts
!PitWall.LMU/demo_telemetry_fix.cmd
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Build artifacts
**/bin/
**/obj/

# Logs
logs/

# Ignore LMU Telemetry Database
PitWall.LMU/lmu_telemetry.db
PitWall.LMU/lmu_telemetry.db-shm
PitWall.LMU/lmu_telemetry.db-wal

# Local agent settings
PitWall.LMU/PitWall.Agent/appsettings.Agent.user.json

# Local session metadata
PitWall.LMU/session-metadata.json

# BFG jar
PitWall.LMU/bfg-1.14.0.jar
bfg.jar
